/* config svg */
.cls-1 {
    fill: #fff;
  }

  .cls-2 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: .25px;
  }
  /* config dom */
.dev_product--banner {
    height:100vh;
    width:100%;
    position:relative;
   
}

.dev_product--banner .text {
    height:fit-content;
    position: absolute;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.dev_product--banner .text span {
    font-family: NVNValky;
    font-size: 142px;
    
    line-height: 100%;
    letter-spacing: 10px;

    width: fit-content;
    height: 100px;
    display: block;
    
    position: relative;
  
   
}
.dev_product--banner .text span:nth-child(1)  {
    left: 10%;
}
.dev_product--banner .text span:nth-child(2)  {
    margin: 0 auto;
    margin-top: 100px;
}


.dev_product--banner .gr-img {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.dev_product--banner .gr-img a {
    position: absolute;
    display: block;
    overflow: hidden;
    background-color:aqua;
    top:50%;
    left:50%;
   transform:translate(-50%,-50%);
}
.dev_product--banner .gr-img a:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgb(0,0,0,.29);
}
.dev_product--banner .gr-img a:nth-child(1) {
    width: 488px;
    height:43vh;
}
.dev_product--banner .gr-img a:nth-child(2) {
    width: 472px;
    height:280px;
}
.dev_product--banner .gr-img a:nth-child(3) {
    width: 400px;
    height:300px;
}
.dev_product--banner .gr-img a:nth-child(4) {
    width: 400px;
    height:395px;
}
.dev_product--banner .gr-img a img {
    width: 160%;
    height: auto;
}

.dev_product--bannersub {
    position:relative;
    width:var(--maxW);
    margin: 0 auto;
   
    padding-bottom: 30vh;
}
.dev_product--bannersub a.sub {
    display: flex;
    align-items: center;
    max-width: 50vw;
    font-family: NVNValky;
    font-size: 42px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    height:50vh;
}

.dev_product--bannersub a.sub-next {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    font-family: NVNValky;
    font-size: 42px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    height:70vh;
  
}
.dev_product--bannersub a.sub-next a {
    display:flex;
    position:relative;
    height:100%;
    align-items: center;
}
.dev_product--bannersub a.sub-next svg {
    position:absolute;
    width:200px;
    left:50%;
    top:65%;
    transform:translate(-50%,-50%);
}
 /* list step */
.wapper-step-dev_product {
    width:100%;
    height:auto;
}

.step1-dev_products ,
.step2-dev_products ,
.step3-dev_products ,
.step4-dev_products {
    margin: 30vh auto;
    position:relative;
}
.step1-dev_products .img,
.step2-dev_products .img,
.step3-dev_products .img,
.step4-dev_products .img{
    position: relative;
    height:80vh;
    overflow: hidden;
}
.step1-dev_products .text,
.step2-dev_products .text,
.step3-dev_products .text,
.step4-dev_products .text{
    max-width: calc(var(--maxW1440) / 1.5);
    position: absolute;
    height: fit-content;
}

.step1-dev_products .title,
.step2-dev_products .title,
.step3-dev_products .title,
.step4-dev_products .title{
    font-family: NVNValky;
    font-size: 105px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.step1-dev_products .des,
.step2-dev_products .des,
.step3-dev_products .des,
.step4-dev_products .des {
    padding: 32px 32px 0 64px;
    font-family: PoiretOne;
    font-size: 32px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.01em;
  
    max-width: calc(var(--maxW1440) / 2.5);
}
/* config each step */
/* step 1 */
.step1-dev_products .img {
    grid-column-start: 1;
    grid-column-end:5;
    height: fit-content;
}
.step1-dev_products .text {

    top:65%;
    right:0;
    transform: translateY(-50%);
}
.step1-dev_products .img img {
    width: 90%;
    height: auto;
    display: block;
}
.step1-dev_products .title,.step1-dev_products .des {
    text-align: left;
}

.step1-dev_products .img-behind {
    position: absolute;
    bottom: -200px;
    right: -266px;

    width: 400px;
  
    height: fit-content;
}
.step1-dev_products .img-behind:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
}
.step1-dev_products .img-behind  img {
    width:100%;
    height:auto;
}
/* step 2 */
.step2-dev_products .img {
    grid-column-start: 2;
    grid-column-end: 6;
    height: fit-content;
}
.step2-dev_products .text {
    position: absolute;
    height: fit-content;
    top:77%;
    left:0;
    transform:translateY(-50%);
}

.step2-dev_products .img img {
    width: 100%;
    height: auto;
    display: block;
}

.step2-dev_products .title,.step2-dev_products .des {
    text-align: left;
}
/*  step 3 */

.step3-dev_products .img {
    grid-column-start: 2;
    grid-column-end: 6;
    height: fit-content;
}
.step3-dev_products .text {
    position: absolute;
    height: fit-content;
    top:105%;
    left:0;
    transform:translateY(-50%);
}

.step3-dev_products .img img {
    width: 100%;
    height: auto;
    display: block;
}

.step3-dev_products .title,.step3-dev_products .des {
    text-align: left;
}


.step3-dev_products .img-behind {
    position: absolute;
    bottom: -200px;
    right: -266px;

    width: 400px;
  
    height: fit-content;
}
.step3-dev_products .img-behind:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
}
.step3-dev_products .img-behind  img {
    width:100%;
    height:auto;
}


/*  step 4 */
.step4-dev_products .img {
    grid-column-start: 2;
    grid-column-end: 6;
    height: fit-content;
}
.step4-dev_products .text {
    position: absolute;
    
    height: fit-content;
    bottom: -37%;
    right: 3%;
}

.step4-dev_products .img img {
    width: 90%;
    float:right;
    height: auto;
    display: block;
}

.step4-dev_products .title,.step4-dev_products .des {
    text-align: left;
}
